<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <h1>Task List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.status}"></td>
                <td><a href="/edit-task">Edit task</a></td>
            </tr>
        </tbody>
    </table>

    <a href="/add-task">Add task</a>
</body>
</html>